<% if(page.prev || page.next) { %>
    <div class="pagination-container">
        <div class="pagination <%- page.prev ? "" : "disabled" %>"><a href="<%- config.root %><%- page.prev_link %>"><i class="icon fa-caret-left"></i></a></div>
        <div class="pagination <%- page.next ? "" : "disabled" %>"><a href="<%- config.root %><%- page.next_link %>"><i class="icon fa-caret-right"></i></a></div>
    </div>
<% } %>