.page-top.animated.fadeInDown
  .nav
    li
      if is_home()
        a.current(href="/")='Home'					
      else
        a(href="/")='Home'
    li
      if is_current('about')
        a.current(href="/about")='About'			
      else
        a(href="/about")='About'
    li
      if is_archive()
        a.current(href="/archives")='Archive'
      else
        a(href="/archives")='Archive'
    li
      if is_current('links')
        a.current(href="/links")='Links'	
      else
        a(href="/links")='Links'
  .information
    .back_btn
      li
        if is_post()
          a.fa.fa-chevron-left(onclick="window.history.go(-1)")
        else
          a.fa.fa-chevron-left(onclick="window.history.go(-1)",style="display:none;") 
    .avatar
      img(src=theme.avatar)
