.page-top.animated.fadeInDown
  .nav
    li
      if is_home()
        a.current(href="/")='Home'					
      else
        a(href="/")='Home'
    li
      if is_current('about')
        a.current(href="/about")='About'			
      else
        a(href="/about")='About'
    li
      if is_current('links')
        a.current(href="/links")='Links'	
      else
        a(href="/links")='Links'
  .information
    .avatar
      img(src=theme.avatar)
